@import url(http://fonts.googleapis.com/css?family=Qwigley);

@import url(http://fonts.googleapis.com/css?family=Fugaz+One);

@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

	body 		{background-color:black;}
	
	header 		{height:235px;
				width:100%; 
				background-color:#000000;
				margin-left:auto;
				margin-right:auto;
				margin-top:-10px;}
	
	#follow 		{float:right; margin:-100px 0 0 0; 
				position:relative; z-index:4; 
				display:inline;}
			
	footer		{width:1000px; height:200px;
				background-color:black;
				margin-left:auto;
				margin-right:auto;
				color:white; font-size:14pt;
				padding-top:10px
				}
	
	#toTop		{padding-top:5px;}
	
	
	footer a 		{text-decoration:none; color:#E3980E;}	
	
	footer a:hover {color:white}
	
	footer #copyright{float:left; padding-top:10px}
			
	#logo		{float:left; padding-left:20px; padding-top:20px; 
				position:relative; z-index:3;}
			 
	h1			{color:#E3980E; font-family: 'Qwigley', cursive;
				font-size:30pt; margin-top:50px;
				margin-left:20px; width:200px; 
				float:left;}		
	
		
	#wrapper	{width:1000px; height:1150px; 
				margin-top:10px; margin-left:auto; margin-right:auto;
				border-bottom:2px solid #eee; padding-bottom:45px;}
				
	nav			{ position:relative; z-index:2}	
				
	#nav		{list-style:none; text-align:center; clear:both; 
				border-top:2px solid #eee; padding-top:18px;
				width:960px;margin-left:auto; margin-right:auto;}
				
	li 			{display:inline-block; marigin-left:7px; margin-right:7px; margin-top:-200px;  }
	li a			{display:block; text-decoration:none; color:white; letter-spacing:3px; padding:18px;}
	
	
	li:hover a  	{background-color:white; color:black; font-weight:normal;}


        
	li:hover ul a 		{background-color:black; color:white;}
	
	li:hover ul a:hover {background-color:gray; color:white; }
	
	li ul 				{display:none; position:absolute;}
	li ul li 			{display:block; float:none; margin-top:-20px; }
			  
    li ul li a 			{width:auto; min-width:100px; padding:15px ;
					text-align:left; margin-top:20px;}
					
	
	
	ul li a:hover + .hidden, .hidden:hover {display:block; margin-left:-40px;  }
    
	.fav			{font-size:30px; text-align:center; position:relative;
					top:350px; z-index:-1; color:white; font-weight:bolder;}
	
	.smallPics 		{width:665px; height:466px; float:left;}
	.smallerPics	{float:right;}
	.bigPic 			{width:1000px; height:466px; float:left; margin-top:-25px; padding-bottom:35px; }
	.pics img:hover	{opacity:0.7; }
	
	
